#bimg1{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg2{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg3{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg4{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg5{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg6{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg7{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg8{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg9{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg10{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg11{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bimg12{
	width: 100px;
	height: 80px;
	cursor: pointer;
}
#bodydiv332{
	visibility: hidden;
}
#bimgcat{
	float: left;
}
#bdiv2{
	float: left;
	width:500px;
	height: 300px;	
}
#bdiv1{
	float: left;
	width:220px;
	height: 345px;

}
#bprvtxt{
	font-size: 16px;
	color: white;
	font-family: arial;
}
#bimga{
	padding-left: 40px;
}