#bodydiv331{
	visibility: hidden;
}
#bodydiv332{
	visibility: hidden;
}
#supform1{
	width: 700px;
	
}
#inp1{
	width:500px;
	height:40px;
	font-size: 16px;
	font-family: arial;
}
#captxt1{
	color: white;
	font-size: 16px;
	font-family: arial;  	
}
#button1{
	width: 150px;
	height: 40px;
	background-color: #0E6668;
	color: white;
	font-family: arial;
	font-size: 16px;
	border-style: none;
	cursor: pointer;	
}
#button1:hover{
	background-color: white;
	color: #0E6668;
}